*.cfg
*.db
*.ipynb
.idea
logs
*.pid
*.pyc
*.ipynb
*.DS_Store
.AppleDouble
.LSOverride
.Trashes
.env
.venv
env/
venv/
ENV/
*.err
*.out
*.log
utils/__pycache__
dags/__pycache__
__pycache__
config.py
.ipynb_checkpoints
